.img-head{
    width: 350px;
}

.info-footer{
    color: whitesmoke;
}

.text-form{
    color: whitesmoke;
}

.icon-envelope {
        color: white;
    }

.section-tittle{
    font-weight: bold;
    font-family:"Oswald",sans-serif;
}

.text-placeholder{
    /* font-weight: bold; */
    font-family:"Oswald",sans-serif;
}

/* WHATSAPP */

.whatsapp {
      display: none;
      position:fixed;
      width:60px;
      height:60px;
      bottom:110px;
      right:40px;
      background-color:#25d366;
      color:#FFF;
      border-radius:50px;
      text-align:center;
      font-size:30px;
      z-index:100;
    }
   
    .whatsapp-icon {
      margin-top:13px;
    }
  
    .whatsapp-icon:hover {
      color: #9e9e9e;
    }
  
    .whatsapp:hover {
      color: #9e9e9e;
    }
  
    .fixed-action-btn {  
      position: fixed;
      bottom: 70px;
      left: -5px;
      z-index: 999;
    }
    
    .fixed-action-btn .whatsapp-btn {
      position: relative;
      transition: all 0.3s ease;
    }
    
    .fixed-action-btn .whatsapp-btn:hover {
      width: 100px;
    }  
    
    .btn-floating {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    /* .btn-floating i {
      color: #fff;
    } */
    
    .btn-lg {
      width: 64px;
      height: 64px;
      font-size: 24px;
    }
   
  
  /* END WHATSAPP */ 